@media only screen and (min-width:1024px) {

    .Functioning ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
        
    .Functioning__card{
        width: 27%;
    }

    .Functioning h2{
        padding: 20px 0 0 68px;
    }
    .Functioning li{
        font-size: 20px;
    }
    .restaurants{
        display: grid;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }
    .restaurants h2{
        padding: 30px 0px 10px 55px;
    }

    .restaurants__card{
        margin-right: 400px;
        width: 90%;
    }
    .restaurants__img{
        height: 250px;
        width: 100%;
        object-fit: cover;
    }
    .restaurantsdesktop{
        grid-template-columns: 1fr 1fr;
        display: grid;
        margin: 0 0 25px 60px;

    }
    .new2Desktop{
        left: 88em;
    }
    .new1Desktop{
        left: 39.8em;
    }

    .menusDesktop{
        display:flex ;
        justify-content: space-around;
    }
    .content{
        height: 60px;
        width: 350px;
    }
   
    footer h2{
        font-size: 30px;
        padding: 0 0 18px 35px;
    }

    .footerMobile{
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 18px;
        padding:10px 0;
    }
}


@media screen  and(width: 768px){
    .Functioning{
        padding-left: 15px;
    }
    .Functioning__card{
        width: 98%;
    }
    .Functioning li{
        font-size: 20px;
    }

    .restaurants__img{
        width: 700px;
        height: 300px;
    }

    .restaurants__new{
        left: 43em;
    }
    .restaurants h2{
        padding-right: 570px;
    }

    .content__prix{
        margin-left: 330px;
    }

    footer{
        padding: 10px 30px;
    }
}