/*menu restaurants*/
@import './libs/mixin.scss';
@import './libs/variables.scss';
@import './libs/keyframes';

/*header menus*/
.header-title {
    align-items: center;
    display: flex;
    height: 70px;
    justify-content: center;
    /**position: fixed;*/
    width: 100%;
    /**z-index: 3;*/
    
    &__backLinkHome {
        left: 15px;
        position: absolute;
        top: 30px;
    }

    &__logo {
      height: 25px;
    }

    i {
        color: black;
    }

    &__banniere-img {
        margin-bottom: -30px;
        max-height: 300px;
        object-fit: cover;
        width: 100%;
    }
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1{
        margin-left: 12px;
        font-family: $font-title;
    }
    i{
        margin-right: 10px;
        font-size:30px;
        padding-right: 20px;
        color: black;
        &:hover{
            animation: fill 1s ease-out;
            font-weight: bold;
            background: linear-gradient($colorPrimary, $colorSecondary);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.menus{
    background-color: #f6f6f6;
    border-radius: 30px 30px 0 0;
    position: relative;
    display: grid;
}
.menus-restaurants {
    max-width: 100%;
    overflow: hidden;
    padding: 0px 10px;

    &__title{
        font-family: $font-content;
        font-weight: normal;
        padding-bottom: 6px;
        margin-bottom: -8px;
        position: relative;
        text-transform: uppercase;
        &::after {
        background-color: #99E2D0;
        bottom: 0;
        content: "";
        height: 3px;
        left: 0;
        position: absolute;
        width: 40px;
    }
    
}
}


.content {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0,0,0,.10);
    margin: 20px 0px;
    overflow: hidden;
    height: 70px;
    max-width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    cursor: pointer;
    animation: opacity 1s both;
    animation-delay: 1000ms;
    @for $i from 1 through 9{
      &:nth-child(#{$i}){
        animation-delay: #{$i/10}s;
       }
    }
    &:hover &__prix{
        padding-left: 0;
        padding-right: 33px;
    }
    &:hover &__confirmation{
        width: 55px;
        transform-origin: left;
    }

    &:hover &__icon{
        opacity: 1;
        transform: rotate(345deg);
    }


    &__card{
        flex: 1;
        white-space: nowrap;
        position: relative;
        max-width: 240px;
        &:hover{
            text-overflow: ellipsis;
        }
    }
    &__title{
        flex: 1;
        font-family: $font-content;
        font-size: 16px;
        font-weight: bold;
        margin: 0 0 4px 0;
        padding-left: 10px;
    }
    &__description{
        margin: 0;
        padding-left: 10px;
        font-family: $font-content;
        font-weight: 100;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__prix{
        align-items: flex-end;
        display: flex;
        font-family: $font-content;
        font-weight: 700;
        justify-content: flex-end;
        padding-right: 10px;
        padding-left: 70px;
    }

    &__confirmation {
        width: 0px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $colorWhite;
        font-size: 26px;
        border-radius: 0px 15px 15px 0px;
        background-color: #99E2D0;
        transition: width 280ms;
        
     
    }

    &__icon {
        opacity: 0;
        transition: transform 280ms;
    }
}

.prix{
    height: 100%;
    display: flex;
}
.button-commander{
    @include flexCenter;
    text-decoration: none;
    padding:9px 13px;
    border-radius: 30px;
    box-shadow: -1px 3px 25px -10px rgb(177, 125, 219);
    background: linear-gradient(0deg,#9356dc 0%, #ff79da 100%);
    color: white;
    color:$colorWhite;
    height: 25px;
    cursor: pointer;
    width: 140px;
    margin: 30px auto 50px auto;
    border-radius: 10rem;
    &:hover {
        box-shadow: -1px 3px 25px -10px rgba(0,0,0,0.65);
    }

    p {
        align-items: center;
    }
}
