@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,400&display=swap");
footer {
  background-color: #333333;
  padding: 10px 20px;
  color: white; }
  footer h2 {
    font-family: "Shrikhand";
    font-weight: normal;
    font-size: 20px;
    margin: 8px 8px 8px 0; }
  footer a {
    text-decoration: none;
    color: white; }
  footer i {
    font-size: 13px;
    margin-right: 8px; }

/*menu restaurants*/
/*animation du loader*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
    visibility: visible;
    opacity: 0.9; }
  100% {
    transform: rotate(360deg);
    visibility: hidden;
    opacity: 0; } }
@keyframes disappear {
  0% {
    opacity: 1; }
  50% {
    opacity: 3; }
  100% {
    opacity: 0;
    z-index: -100; } }
@keyframes opacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 100; } }
@keyframes fill {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/*header menus*/
.header-title {
  align-items: center;
  display: flex;
  height: 70px;
  justify-content: center;
  /**position: fixed;*/
  width: 100%;
  /**z-index: 3;*/ }
  .header-title__backLinkHome {
    left: 15px;
    position: absolute;
    top: 30px; }
  .header-title__logo {
    height: 25px; }
  .header-title i {
    color: black; }
  .header-title__banniere-img {
    margin-bottom: -30px;
    max-height: 300px;
    object-fit: cover;
    width: 100%; }

.title {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .title h1 {
    margin-left: 12px;
    font-family: "Shrikhand"; }
  .title i {
    margin-right: 10px;
    font-size: 30px;
    padding-right: 20px;
    color: black; }
    .title i:hover {
      animation: fill 1s ease-out;
      font-weight: bold;
      background: linear-gradient(#9356DC, #FF79DA);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent; }

.menus {
  background-color: #f6f6f6;
  border-radius: 30px 30px 0 0;
  position: relative;
  display: grid; }

.menus-restaurants {
  max-width: 100%;
  overflow: hidden;
  padding: 0px 10px; }
  .menus-restaurants__title {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    padding-bottom: 6px;
    margin-bottom: -8px;
    position: relative;
    text-transform: uppercase; }
    .menus-restaurants__title::after {
      background-color: #99E2D0;
      bottom: 0;
      content: "";
      height: 3px;
      left: 0;
      position: absolute;
      width: 40px; }

.content {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  margin: 20px 0px;
  overflow: hidden;
  height: 70px;
  max-width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  cursor: pointer;
  animation: opacity 1s both;
  animation-delay: 1000ms; }
  .content:nth-child(1) {
    animation-delay: 0.1s; }
  .content:nth-child(2) {
    animation-delay: 0.2s; }
  .content:nth-child(3) {
    animation-delay: 0.3s; }
  .content:nth-child(4) {
    animation-delay: 0.4s; }
  .content:nth-child(5) {
    animation-delay: 0.5s; }
  .content:nth-child(6) {
    animation-delay: 0.6s; }
  .content:nth-child(7) {
    animation-delay: 0.7s; }
  .content:nth-child(8) {
    animation-delay: 0.8s; }
  .content:nth-child(9) {
    animation-delay: 0.9s; }
  .content:hover .content__prix {
    padding-left: 0;
    padding-right: 33px; }
  .content:hover .content__confirmation {
    width: 55px;
    transform-origin: left; }
  .content:hover .content__icon {
    opacity: 1;
    transform: rotate(345deg); }
  .content__card {
    flex: 1;
    white-space: nowrap;
    position: relative;
    max-width: 240px; }
    .content__card:hover {
      text-overflow: ellipsis; }
  .content__title {
    flex: 1;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 4px 0;
    padding-left: 10px; }
  .content__description {
    margin: 0;
    padding-left: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    text-overflow: ellipsis;
    overflow: hidden; }
  .content__prix {
    align-items: flex-end;
    display: flex;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    justify-content: flex-end;
    padding-right: 10px;
    padding-left: 70px; }
  .content__confirmation {
    width: 0px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 26px;
    border-radius: 0px 15px 15px 0px;
    background-color: #99E2D0;
    transition: width 280ms; }
  .content__icon {
    opacity: 0;
    transition: transform 280ms; }

.prix {
  height: 100%;
  display: flex; }

.button-commander {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 9px 13px;
  border-radius: 30px;
  box-shadow: -1px 3px 25px -10px #b17ddb;
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  color: white;
  color: white;
  height: 25px;
  cursor: pointer;
  width: 140px;
  margin: 30px auto 50px auto;
  border-radius: 10rem; }
  .button-commander:hover {
    box-shadow: -1px 3px 25px -10px rgba(0, 0, 0, 0.65); }
  .button-commander p {
    align-items: center; }

/* page d'accueil*/
/*animation du loader*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
    visibility: visible;
    opacity: 0.9; }
  100% {
    transform: rotate(360deg);
    visibility: hidden;
    opacity: 0; } }
@keyframes disappear {
  0% {
    opacity: 1; }
  50% {
    opacity: 3; }
  100% {
    opacity: 0;
    z-index: -100; } }
@keyframes opacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 100; } }
@keyframes fill {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
html, body {
  margin: 0; }

.loader {
  background-color: white;
  z-index: 10000;
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
  height: 100vh;
  animation: disappear 1500ms forwards; }
  .loader__spinner {
    border-top: 10px solid #99E2D0;
    border-bottom: 10px solid lightgray;
    border-left: 10px solid #FF79DA;
    border-right: 10px solid #9356DC;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 1.5s linear;
    -o-animation: spin 1.5s linear;
    animation: spin 1.5s linear;
    /* placement du loader au milieu de la page*/
    margin: auto;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    visibility: hidden; }

/* header */
header {
  height: 65px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center; }
  header img {
    width: 140px; }

/* section Localisation */
.Localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  box-shadow: inset 0 7px 0.3em -5px grey;
  font-family: "Roboto", sans-serif; }
  .Localisation i {
    margin-right: 20px; }

/* section explorer */
.explorer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  flex-direction: column;
  padding: 18px 30px 50px 30px; }
  .explorer__title {
    font-weight: bold;
    max-width: 250px;
    margin-bottom: 0;
    text-align: center;
    font-family: "Roboto", sans-serif; }
  .explorer__sousTitle {
    align-items: center;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    text-align: center; }
  .explorer__Button {
    display: flex;
    align-items: center;
    justify-content: center; }
  .explorer__Button {
    font-weight: bold;
    height: 1px;
    align-items: center;
    font-family: "Roboto", sans-serif;
    border-radius: 30px;
    border: 0px solid #1c6ea4;
    background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
    color: white;
    cursor: pointer;
    padding: 1.5rem 1.2rem;
    border-radius: 10rem; }
    .explorer__Button:hover {
      box-shadow: -1px 3px 25px -10px rgba(0, 0, 0, 0.65); }

/*Fonctionnement*/
.Functioning h2 {
  padding: 20px 0 0 13px;
  font-family: "Roboto", sans-serif; }
.Functioning__card {
  height: 70px;
  width: 100%;
  box-shadow: 0px 5px 9px -6px grey;
  border-radius: 20px;
  background-color: #f6f6f6;
  margin-left: -20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center; }
.Functioning__number {
  height: 24px;
  width: 24px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #9356DC;
  right: 0.7em;
  position: relative; }
.Functioning__icon {
  margin-right: 22px;
  margin-left: 22px;
  color: lightgray; }
  .Functioning__icon-color3 {
    color: #9356DC; }
.Functioning__title {
  margin-right: 125px;
  font-family: "Roboto", sans-serif; }
.Functioning li {
  font-family: "Roboto", sans-serif; }

/* restaurants */
.restaurants {
  background-color: #f6f6f6;
  margin-top: 70px;
  display: grid;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center; }
  .restaurants h2 {
    padding: 30px 210px 0px 0px;
    font-family: "Roboto", sans-serif; }
  .restaurants__card {
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 30px;
    text-decoration: None;
    color: black;
    display: block; }
  .restaurants__img {
    width: 350px;
    height: 180px;
    border-radius: 15px 15px 0 0; }
  .restaurants__cubeDetails {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0px 0px 10px; }
  .restaurants__Title {
    margin-top: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 18px; }
  .restaurants__sousTitle {
    margin-top: -10px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 17px; }
  .restaurants__heart {
    font-size: 25px;
    margin: 25px; }
    .restaurants__heart:hover {
      animation: fill 1s ease-out;
      font-weight: bold;
      background: linear-gradient(#9356DC, #FF79DA);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent; }
  .restaurants__new {
    position: absolute;
    left: 17.7em;
    margin-top: 10px;
    background-color: #99e2d0;
    color: #217460;
    padding: 0.4em 1.50em;
    border-radius: 5px;
    font-size: 0.9em;
    font-weight: 500;
    font-family: "Roboto", sans-serif; }

@media only screen and (min-width: 1024px) {
  .Functioning ul {
    display: flex;
    justify-content: space-around;
    align-items: center; }

  .Functioning__card {
    width: 27%; }

  .Functioning h2 {
    padding: 20px 0 0 68px; }

  .Functioning li {
    font-size: 20px; }

  .restaurants {
    display: grid;
    justify-content: space-between;
    flex-direction: row;
    align-items: center; }

  .restaurants h2 {
    padding: 30px 0px 10px 55px; }

  .restaurants__card {
    margin-right: 400px;
    width: 90%; }

  .restaurants__img {
    height: 250px;
    width: 100%; }

  .restaurantsdesktop {
    grid-template-columns: 1fr 1fr;
    display: grid;
    margin: 0 0 25px 60px; }

  .new2Desktop {
    left: 88em; }

  .new1Desktop {
    left: 39.8em; }

  .menusDesktop {
    display: flex;
    justify-content: space-around; }

  .content {
    height: 60px;
    width: 350px; }

  .content__description {
    overflow: visible; }

  footer h2 {
    font-size: 30px;
    padding: 0 0 18px 35px; }

  .footerMobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    padding: 10px 0; } }
@media screen and (width: 768px) {
  .Functioning {
    padding-left: 15px; }

  .Functioning__card {
    width: 98%; }

  .Functioning li {
    font-size: 20px; }

  .restaurants__img {
    width: 700px;
    height: 300px; }

  .restaurants__new {
    left: 43em; }

  .restaurants h2 {
    padding-right: 570px; }

  .content__prix {
    margin-left: 330px; }

  footer {
    padding: 10px 30px; } }

/*# sourceMappingURL=style.css.map */
